pytest<8
flake8
black
pytest-httpbin
Jinja2
Werkzeug
flask
tox
coverage
requests
httpx
pytest-asyncio
aiohttp
build
mypy
types-requests
types-urllib3
setuptools
brotlicffi>=1.2.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
